* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

header {
  width: 80vw;
  height: 25vh;
  margin: 80px 10%;
  background-image: url(../asset/img/design1_image1.ico);
  background-size: cover;
  background-position: 80%;
  padding: 0.5rem;
  display: inline-block;
  background-position-x: center;
  transform: translate(20);
}
header > h1 {
  display: inline-block;
  padding: 2rem;
  font-size: 2.5rem;
  width: 60vw;
  height: 30vh;
  position: absolute;
  top: 0vh;
  left: 20.5vh;
  text-align: left;
  font-family: sans-serif;
}

nav {
  width: 80px;
  height: auto;
  display: inline-flex;
  padding: 0.05rem;
  text-align: right;
  position: relative;
  left: 38rem;
  bottom: 1.5rem;
}
nav a {
  display: inline-block;
  color: white;
  background-color: blue;
  width: auto;
  padding: 0.5px 15px 1px;
  margin: 0.2rem;
  text-align: center;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
}
a:hover {
  background-color: green;
}
:active {
  background-color: white;
}
a[href="#"] {
  background-color: green;
  color: white;
}
main {
  min-height: 80vh;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}
.comienzo-texto {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  border-style: groove;
  border-width: medium;
  border-color: black;
  margin-top: -60px;
}
.texto {
  display: flex;
  text-align: center;
}

.texto h3 {
  font-family: sans-serif;
}
.logo-imagen {
  height: 250px;
  margin: 15px;
}
.hockey-imagen1 {
  height: 200px;
  margin: 50px;
}
.hockey-imagen2 {
  height: 200px;
  margin: 50px;
}
.hockey-imagen3{
  height: 250px;
  margin: 15px;
}
h3 {
  line-height: 2;
  padding-left: 25px;
}
div p {
  line-height: 1.5;
  text-indent: 1%;
  text-align: left;
  padding-left: 40px;
  font-family: sans-serif;
  font-weight: bold;
}
.reglas {
  display: flex;
}

dt {
  font-weight: lighter;
  font-style: italic;
}

dd {
  text-decoration: underline;
  font-style: italic;
}

th,
td {
  padding: 0.5rem;
}

table {
  table-layout: auto;
  border-collapse: separate;
  margin-left: 25%;
  margin-block-start: -18%;
}

div.contact {
  display: flex;
  caption-side: bottom;
}
div p.phone,
div p.email {
  width: 40%;
  caption-side: bottom;
}

fieldset{
  padding: 0.5rem;
  border: 2px solid;
  margin-block-end: 50px;
}

.mapa{
  margin: 1rem;
  border-radius: 1rem;
  padding: 25px;
  }